@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 2px;
}

body {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
  align-items: center;
}

.amount {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.select {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.result {
  margin-top: 2.5rem;
  color: rgb(223, 110, 195);
}

.from-select {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.to-select {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

label {
  padding-bottom: 5px;
  font-weight: bold;
  color: rgb(223, 110, 195);
}

input {
  padding: 9px;
  width: 20.6rem;
  border-radius: 5px;
  outline: none;
  background: rgba(148, 250, 148, 0.849);
  border: 1px solid rgb(151, 105, 105);
}

.btn {
  margin-top: 2rem;
  padding: 6px;
  width: 7rem;
  height: 2.3rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background: rgba(145, 216, 63, 0.788);
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgb(145, 216, 63);
}

select {
  background: chartreuse;
  appearance: none;
  width: 10rem;
  border-radius: 5px;
  height: 2.3rem;
  outline: none;
  border: 1px solid rgb(223, 110, 195);
  padding: 10px;
}
